*.iml
.gradle
/local.properties
/.idea/caches
/.idea/modules
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/.name
/.idea/workspace.xml
/.idea/deploymentTargetDropDown.xml
/.idea/shelf/
/.idea/assetWizardSettings.xml

.DS_Store
/build
/app/schemas
/app/build
/captures
.externalNativeBuild
.cxx
local.properties